cmake-build-debug/CMakeFiles
cmake-build-debug/Testing
cmake-build-debug/coverage
.idea
build
launch.json
.vscode
cmake-build-debug/CMakeCache.txt
cmake-build-debug/game.cbp
cmake-build-debug/Makefile
cmake-build-debug/cmake_install.cmake